<%- include("partials/header"); %>

    <div class="main-container">

        <h1 class="title"><%= today %>, <%= month %> <%= day %> </h1>

        <form action="/" class="form" method="POST">
            <input name="note" type="text" placeholder="New note...">
            <button class="btn">Add</button>
        </form>

        <div class="notes">
            <!-- loop through notes and make all into note -->
            <% sessionNotes.forEach(note => { %>
                <div class="note">
                    <p> <%= note %> </p>
                </div>
            <%})%>

        </div>
    </div>

<%- include("partials/footer"); %>